<!-- Ana Vitkovic 0285/2021 -->
{% extends "log-user-template.html" %}

{% block title %}
    Nutri profile
{% endblock %}

{% block includes_header %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/nutri.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/search_plan.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/scroll.css' %}"/>
    <script src="{% static "scripts/commenting.js" %}"></script>
    <script src="{% static "scripts/collapse_rating.js" %}"></script>
{% endblock %}

{% block pop_up %}
    <div class="alert hide" id="alert">
        <i class="bx my-bx"></i>
        <span class="msg"></span>
        <div class="close-btn">
            <i class="bx bx-x"></i>
        </div>
    </div>
{% endblock %}

{% block section %}
    <div class="row">
        <div class="col-md-12 col-lg-3">
            <div class="basic-container">
                {% load static %}
                <br>
                <img src="{% get_media_prefix %}{{ nutri_pic }}" width="200px" height="200px"
                     style="border-radius: 50%"/>
                <br>
                <h2 class="ps-2">{{ nutri.username }}</h2>

                <div style="text-align: center">
                    E-mail: {{ nutri.email }}
                    <br/>
                </div>

                <div class="rating_score" id="averageRating">
                    <span class="fa fa-star fa2x display_star"></span>
                    {{ averageScore }} / 5
                </div>
                <p>
                    <button
                            class="bu-primary"
                            id="rate_btn"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseWidthExample"
                            aria-expanded="false"
                            aria-controls="collapseWidthExample">
                        Rate
                    </button>
                </p>
                <div>
                    <div class="collapse" id="collapseWidthExample">
                        <div class="card card-body my-collapse">
                            <h3>My Rating</h3>
                            <div class="div_starts">
                                <div class="stars">
                                    <input type="radio" id="five" name="rate" value="5"/>
                                    <label for="five"></label>
                                    <input type="radio" id="four" name="rate" value="4"/>
                                    <label for="four"></label>
                                    <input type="radio" id="three" name="rate" value="3"/>
                                    <label for="three"></label>
                                    <input type="radio" id="two" name="rate" value="2"/>
                                    <label for="two"></label>
                                    <input type="radio" id="one" name="rate" value="1"/>
                                    <label for="one"></label>
                                    <span class="result"></span>
                                </div>
                            </div>

                            <center>
                                <div>
                                    <button class="bu-primary" id="submit_rate_btn_nutri">Submit Rate</button>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>

                <button class="my-btn btn-green" onclick="gotoForm({{ nutri.id }})" style="width: 60%">Order Form
                </button>
            </div>
        </div>
        <div class="col-md-12 col-lg-5">
            <div class="basic-container">
                <h2>My Plans</h2>
                {% if empty == 0 %}
                    <h2>Plans in process</h2>
                {% else %}
                    
                    <div class="comments-wrp_modif cwm-basic-containerplans" style="height: 570px;margin-left: 2%; margin-right: 2%">
                    {% for planTag in plansAndTags %}
                        <div class="basic-container whole-plan "style="margin-left: 2%; margin-right: 2%">
                            <div class="image-container">
                                {% load static %}
                                <img src="{% get_media_prefix %}icons8-list-view-96.png" class="my-image"/>
                                <div class="image-container-text">
                                    <a href="preview_plan?plan_id={{ planTag.plan.id }}" class="plan-link">
                                        <h3>{{ planTag.plan.name }}</h3>
                                    </a>
                                    {% for tag in planTag.tags %}
                                        <span class="key-word"> {{ tag }} </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}                    
                    </div>

                {% endif %}
            </div>
        </div>

        <div class="col-md-12 col-lg-4">
            <div class="wrapper-com">


                <div class="reply-input container">
                    {% load static %}
                    <img src="{% get_media_prefix %}{{ user_pic }}" alt="" class="usr-img"/>

                    <textarea class="cmnt-input" placeholder="Add a comment..."></textarea>

                    <button id="submit_com_nutri" class="bu-primary comment-button" onclick="add_com_n()">SEND</button>
                </div>


                <div class="comments-wrp infinite-container">
                
                    {% for comment in comments %}
                        <div class="comment-wrapper sb2 infinite-item">
                            <div class="c-user"><img class="usr-img" src="
                                    {% get_media_prefix %}{{ comment.user.profile_picture }} "><span
                                    class="usr-name">{{ comment.user.username }}</span></div>
                            <p class="c-text">{{ comment.text }}</p></div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        function gotoForm(nutritionistId) {
            let url = `/nutritionist/${nutritionistId}/order/`;
            console.log("Redirecting to:", url); // Log the URL
            window.location.href = url;
        }
    </script>
    
    
    <script src="{% static "scripts/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "scripts/infinite.min.js" %}"></script>
     <script>
        $(document).ready(function() {
            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                offset: 'bottom-in-view',
                onBeforePageLoad: function() {
                    // Optional: Show loading indicator
                },
                onAfterPageLoad: function() {
                    // Optional: Hide loading indicator
                }
            });
        });

    </script>   
    
        

        
        
        
        
        
        
        
        

{% endblock %}