<!-- Ana Vitkovic 0285/2021 -->
{% load static %}
<link rel="stylesheet" href="{% static 'styles/search_plan.css' %}" />
<link rel="stylesheet" href="{% static 'styles/scroll.css' %}" />
{% if empty == 0 %}
    <h2 class="text-center mt-5">Nothing Found</h2>
{% else %}    
    
    <div class="comments-wrp_modif" style="height: 550px">
    {% for planTag in plansAndTags %}
        
        <a href="preview_plan?plan_id={{ planTag.plan.id }}" class="plan-link" style="margin-left: 2%; margin-right: 2%">
            <div class="basic-container whole-plan">
                 <div class="image-container">
                     {% load static %}
                     <img src="{% get_media_prefix %}icons8-list-view-96.png" class="my-image" />
                     <div class="image-container-text">
                         
                            <h3>{{ planTag.plan.name }}</h3>
                         
                         {% if  planTag.tags is None %}
                         {% else %}
                             {% for tag in planTag.tags %}
                                 <span class="key-word"> {{ tag }} </span>
                             {% endfor %}
                         {% endif %}
                     </div>
                 </div>
            </div>
        </a>
    {% endfor %}    
    </div>

{% endif %}